header{
	background-color: white;
	width: 100%;
}
section{
	background-color: gray;
	width: 100%;
	padding-top: 5%;
}
footer{
	background-color: white;
	width: 100%;
	padding-top: 1%;
}
button{
	background-color: #459EF2;
}
h1{
	font-size:270%;
}
h2{
	font-size:130%;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-white{
	color: white;
}
nav ul li {
	display: inline-block;
}
.mt3{
	margin-top: 3%;
}
.pd3{
	padding: 3%;
}
.pt1{
	padding-top: 1%;
}
.pt3{
	padding-top: 3%;
}
.pt5{
	padding-top: 5%;
}
.pb3{
	padding-bottom: 3%;
}
.nombre .correo{
	width: 100%;
}

.caja{
	width: 50%;
	height: 5%;
	padding: 30px;
	background-color: #BEC5CB;
	opacity:0.5;
	border-radius: 5%;
}
/*media queries*/
@media only screen and (min-width: 535px){
	.col-6 {width: 100%;}

}
@media only screen and (max-height: 824px){

}
[class*="col-"] {
    width: 100%;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
